@import '../../styles.scss';

mat-table {
  width: 100%;
}

.toolbar {
  margin: 20px;
}

.amount-remaining-ok {
   color: $color-balanced-budget;
}

.amount-remaining-bad {
   color: $color-over-budget;
}
