/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Colors denoting the status of a budget
$color-balanced-budget: #29cc3e;
$color-over-budget: #ff0000;
$color-under-budget: #edd032;
