<h1>{{monthYear.month | monthText}}, {{monthYear.year}}</h1>

<div class="container">

  <!-- Summary card -->
  <mat-card class="budget-summary-card">
    <h2>Summary</h2>
    <div class="budget-summary-grid">
      <div>
        <h3>Planned</h3>
        <p>Total Planned Income: {{totalPlannedIncome}}</p>
        <p>Total Planned Expenses: {{totalPlannedExpenses}}</p>
        <p [ngClass]="getAmountRemainingTextClass(remainingPlannedBudget)">Remaining Planned Budget: {{remainingPlannedBudget}}</p>
      </div>
      <div>
        <h3>Actual</h3>
        <p>Total Actual Income: {{totalActualIncome}}</p>
        <p>Total Actual Expenses: {{totalActualExpenses}}</p>
        <p [ngClass]="getAmountRemainingTextClass(remainingActualBudget)">Remaining Actual Budget: {{remainingActualBudget}}</p>
      </div>
    </div>
  </mat-card>

  <!-- Income table -->
  <mat-card class="line-item-table">
    <app-income-table [(items)]="incomeItems" (itemsChange)="calculateTotals()"></app-income-table>
  </mat-card>

  <!-- Expenses table -->
  <mat-card class="line-item-table">
    <app-expense-table [(items)]="expenseItems" (itemsChange)="calculateTotals()"></app-expense-table>
  </mat-card>

</div>
